html, body {
  height: 100%;
  margin: 0px; }

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 100%; }

.header {
  color: white;
  text-overline-color: black;
  background-color: #4682b4;
  font: 48px sans-serif;
  min-height: 60px; }

.main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex: 1 1 auto;
  background-color: green; }

.main-nav {
  color: white;
  background-color: #b0c4ed;
  flex: 1 0px; }

.main-section {
  color: white;
  background-color: #000000;
  flex: 10 0px; }
