html, body {
  height: 100%;
  margin: 0px;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;

  height: 100%;
}

.header {
  background-color: red;
  min-height: 30px;
}

.main {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  flex: 1 1 auto;
  background-color: green;
}

.main-nav {
  background-color: yellow;
  flex: 1 0px;
}

.main-section {
  background-color: orange;
  flex: 10 0px;
}